[submodule "KiThuatLapTrinh"]
	path = KiThuatLapTrinh
	url = https://github.com/paduvi/KiThuatLapTrinh.git
[submodule "OOP"]
	path = OOP
	url = https://github.com/paduvi/OOP_Study.git
[submodule "ComputerNetworking"]
	path = ComputerNetworking
	url = https://github.com/paduvi/NetworkingStudy.git
[submodule "Linux"]
	path = Linux
	url = https://github.com/paduvi/linux.git
[submodule "ai"]
	path = ai
	url = https://github.com/paduvi/ai_study.git
